.card, .card-clone, .empty-slot {
    box-sizing: border-box;
    height: 170px;
    width: 120px;
    border-radius: 10px;
}

.card, .card-clone {
    border: black solid 3px;
    background: white;
    padding-top: 10px;
}

.card {
    position: relative;
}

.dragged {
    visibility: hidden;
}

.card-clone {
    pointer-events: none;
}

#clone-container {
    z-index: 999;
    position: fixed;
    border: none;
    padding-bottom: 130px;
    border-radius: 10px;
}

.empty-slot {
    background: var(--slots);
    border: black solid 1px;
    position: absolute;
    z-index: 0;
}

#unflipped .card, #flipped .card, .sorted-pile .card {
    position: absolute;
    top: 0;
    left: 0;
}

.column .card, .card-clone {
    margin-bottom: -130px;
}

.column .card:last-child {
    margin-bottom: 0;
}

.unflipped {
    background-image: url("../images/croc-drawing.png");
    background-color: var(--card-back);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    border-color: black;
}

.active.empty-slot {
    border: var(--active) solid 3px;
}

.active {
    border-color: var(--active);
}