:root {
    --primary: rgba(83, 186, 107, 0.7);
    --secondary: rgba(174, 203, 185, 0.51);
    --primary-opaque: rgba(74, 153, 83, 0.2);
    --card-red: rgb(204, 0, 1);
    --card-red-opaque: rgba(204, 0, 1, .3);
}