:root {
    --primary: rgb(20, 50, 140);
    --secondary: rgb(195, 200, 255);
}

body {
    margin: 0;
    background-color: var(--secondary);
}

#page-header {
    height: 80px;
    background-color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#app-name {
    margin-left: 30px;
    font-weight: bold;
    font-size: 36px;
}

#board {
    border: black solid 2px;
    width: 1500px;
    height: 750px;
    margin: 20px auto;
    padding: 20px;
}

#board-header {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

#unflipped, #flipped, #invisible {
    width: 120px;
}

#invisible {
    visibility: hidden;
}

.sorted-pile {
    width: 120px;
}

#board-content {
    margin-top: 30px;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 120px;
    position: relative;
}

#unflipped {
    position: relative;
    top: 0;
    left: 0;
}

#unflipped .card {
    position: absolute;
    top: 0;
    left: 0;
}

.card, .empty-slot {
    box-sizing: border-box;
    height: 170px;
    width: 120px;
    border-radius: 10px;
}

.empty-slot {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: -1;
}

.card {
    border: black solid 3px;
    background: white;
    padding-top: 10px;
}

.unflipped {
    background-image: url("../images/card-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
}

.column .card {
    margin-bottom: -110px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.unflipped .card-header {
    visibility: hidden;
}

.suit-label {
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.spades {
    background-image: url("../images/spades.png");
}

.clubs {
    background-image: url("../images/clubs.png");
}

.hearts {
    background-image: url("../images/hearts.png");
}

.diamonds {
    background-image: url("../images/diamonds.png");
}