@import "color.css";
@import "page-header.css";
@import "board-header.css";
@import "cards.css";

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;
    background-color: var(--body);
}

#board {
    width: 1200px;
    height: 700px;
    margin: 20px auto;
    padding: 24px 24px 0 24px;
}

#board-content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.column {
    box-sizing: border-box;
    width: 120px;
    height: 499px;
    margin-top: -170px;
    display: flex;
    flex-flow: column nowrap;
}

.column.empty {
    margin-top: 0;
    height: 170px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    pointer-events: none;
    margin-top: 10px;
}

.unflipped .card-header {
    display: none;
}

.suit-label {
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rank-label {
    font-weight: bold;
}

.spades {
    background-image: url("../images/spades.png");
}

.clubs {
    background-image: url("../images/clubs.png");
}

.hearts {
    background-image: url("../images/hearts.png");
}

.diamonds {
    background-image: url("../images/diamonds.png");
}