@import "color.css";
@import "page-header.css";
@import "board-header.css";
@import "cards.css";

body {
    margin: 0;
    background-color: var(--secondary);
}

#board {
    border: black solid 3px;
    border-radius: 20px;
    width: 1500px;
    height: 750px;
    margin: 20px auto;
    padding: 24px;
}

#board-content {
    margin-top: 30px;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.column {
    width: 120px;
    max-height: 550px;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    pointer-events: none;
}

.unflipped .card-header {
    visibility: hidden;
}

.suit-label {
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rank-label {
    font-weight: bold;
}

.suit-label, .rank-label {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.spades {
    background-image: url("../images/spades.png");
}

.clubs {
    background-image: url("../images/clubs.png");
}

.hearts {
    background-image: url("../images/hearts.png");
}

.diamonds {
    background-image: url("../images/diamonds.png");
}