<div id="board">
    <div id="board-header">
        <div id="unflipped">
            <div class="empty-slot"></div>
        </div>
        <div id="flipped">
            <div class="empty-slot"></div>
        </div>
        <div id="invisible"></div>
        {% for _ in range(4) %}
            <div class="sorted-pile">
                <div class="empty-slot"></div>
            </div>
        {% endfor %}
    </div>
    <div id="board-content">
        {% for _ in range(7) %}
            <div class="column-wrapper">
                <div class="empty-slot"></div>
                <div class="column"></div>
            </div>
        {% endfor %}
    </div>
</div>